ADO_PAT=
ADO_ORG_URL=https://dev.azure.com/xxx
ADO_PROJECT=xxx
ADO_ME=Name Surname

# Work item type names - vary by process template / org customization.
# Defaults below match the Scrum process template.
ADO_TYPE_STORY=Product Backlog Item
ADO_TYPE_TASK=Task
ADO_TYPE_BUG=Bug
